@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
:root {
    --BGcolor:#bfedef;
    --FGcolor:#98E2C6;
    --HEADcolor:#24252a;
    /* --mainFont:'Mingzat', sans-serif; */
    --mainFont:"Bahnschrift", Times, serif; 
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    /* border: 2px #0085a5 solid; */
    display: flex;
    flex-direction: column;
    background-color: var(--BGcolor);
}

#header{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "div nav div";
    align-items: center;
    padding: 10px;
    font-family: var(--mainFont);
    background-color: var(--HEADcolor);
    color: white;
}

#title{
    font-size: 3ch;
    /* this is for gradient */
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    /* gradient ends here */
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav>a{
    /* margin:0 1vw; */
    flex-grow: 1;
    text-align: center;
    color: blanchedalmond;
    text-decoration: solid;
}
nav>a:active{
    color: red;
}


#activepage{
    background-color: #0085a5;
    padding: 5px 20px;
    border-radius: 20px;
    width: 10ch;
    text-align: center;
    justify-self: end;
    background-color:  #4F86C6;
    color: var(--BGcolor);
    text-transform: capitalize;
}

#alert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--FGcolor);
}

#alert>p{
    font-family: var(--mainFont);
    margin: 5px 10px;
    /* padding: 20px 10px; */
}
#alert>button{
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 0;
    margin-right: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
    background-color: var(--BGcolor);
    flex-grow: 2;
}

#footer{
    background-color: var(--HEADcolor);
    color: #5fc880;
    font-family: var(--mainFont);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.7ch;
    margin: 3px;
    display: flex;
    justify-content: space-between;
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
}

#django>span, #name{
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* #name{
    float: right;
} */


