{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block activepage %}Home{% endblock %}

{% block main%}
{% load static%}
<link rel="stylesheet" href={% static "main/home.css" %}>
<!-- <p>this is ->{{user.is_authenticated}}<- here</p> -->
<form action="" method="POST" id="addnote">
    {% csrf_token %}
    {{NoteFormObj}}
    <button>Add</button>
</form>
<div id="allnotes">
    {% for note in allNotes %}
    <ul>
        <form action="/deletenote" style="display:inline;" method="post">
            {% csrf_token %}
        {{note.data}}
        <button type="submit" name="noteid" value="{{note.id}}">&times;</button>
    </form>
    </ul>
    {% endfor%}
</div>


{% endblock%}
