{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block activepage %}Home{% endblock %}

{% block main%}
{% load static%}
<link rel="stylesheet" href={% static "main/home.css" %}>

<form action="" method="POST" id="addnote">
    {% csrf_token %}
    {{NoteFormObj}}
    <button>Add</button>
</form>
<div id="allnotes">
    {% for note in allNotes %}
    <ul>
        {{note.data}}
        <button value="{{note.id}}">&times;</button>
    </form>
    </ul>
    {% endfor%}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        $("ul>button").click(function(){
            requestData = { 'csrfmiddlewaretoken':"{{ csrf_token }}", 'noteid':$(this).attr('value')}
            $.ajax({
                type:"POST",
                url:"{% url 'deletenote' %}",
                data:requestData,
                success:(res)=>{
                    <!-- window.location.href = '/' -->
                    $(this).parent().remove()
                },
                error:()=>{
                    alert("error geting data")
                }
            })
        });



      });
</script>

{% endblock%}
